<h1>Add a movie 🎬</h1>
<form action="/movie/add" method="POST" enctype="multipart/form-data">
	<label for="">Title: </label>
	<input type="text" name="title">

	<label for="">Description: </label>
	<input type="text" name="description">

	<label for="">Poster: </label>
	<input type="file" name="photo">

	<button type="submit">Add this movie</button>
</form>